@font-face {
    font-family: Fangzhenglibian; 
    src: url("./Fangzhenglibian.ttf");
    font-weight: normal;
    font-style: normal; 
  }
@font-face {
    font-family: "Dressedless Three";
    src: url("./Dressedless_Three.ttf");
    font-weight: normal;
    font-style: normal; 
}