.base-back {
    background-color: rgba(255, 255, 255, 0.7);
}
.base-green-back {
    background-color: #12a182;
    color: #fff;
}
.base-color {
    color: #12a182;
}
.bold-font {
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}
.main-container {
    margin: 0 auto;
    max-width: 800px;
}
.base-shadow {
    box-shadow: 0 4px 8px rgba(179, 173, 173, 0.3);
}
.icon{
    vertical-align: middle;
}